@import "tailwindcss";

:root {
  --bg: #04080f;
  --s1: #09111e;
  --s2: #0e1a2e;
  --g: #00ff9d;
  --a: #f7c948;
  --b: #3d8fff;
  --r: #ff4560;
  --p: #a78bfa;
  --t: #e8f0ff;
  --t2: #6b7a96;
  --t3: #2d3a4e;
}

body {
  background: var(--bg);
  color: var(--t);
  font-family: var(--font-dm-sans), sans-serif;
}

.font-syne {
  font-family: var(--font-syne), sans-serif;
}
.font-mono-space {
  font-family: var(--font-space-mono), monospace;
}
